@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* reset */
*{margin:0; padding: 0;
  box-sizing: border-box;}

/* 테스트 화면용 */
/* body{background-color: #ff9;} */
.wrap{
  margin:50px;
}

/* card design */
.card{
  width:300px;
  border: 1px solid #efefef;
  margin-bottom: 20px; /*테스트 후 삭제*/

}
.card .card__thumbnail{

}
.card .card__thumbnail a{
  display: block; 
}
.card .card__thumbnail a img{
  display: block;
  width:100%;
}

.card .card__description{
  padding:1rem 0.8rem;
  background-color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  border-top: 1px solid #efefef;
  
}
.card .card__description .card title{
  margin-bottom: 0.8rem;
  font-size:1.5rem;
  font-weight: 600;
  
}
.card .card__description__.card__spec{

}