@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* reset */
*{margin: 0; padding: 0;}
ul,ol,li{list-style: none;}
/* 테스트용 */
body>div {margin: 50px;}

/* common */
body, code {
  font-size: 13px;
  font-family: Arial,"Apple SD Gothic Neo","Noto Sans KR","맑은 고딕","malgun gothic","돋움","dotum",sans-serif;
  color: #000;
  background: #fff;
}

/* product-listmain */
/* div.ec-base-product */
/* 
<div class="ec-base-product xans-product-listmain">
<ul class="prdList grid4">
<li>
<div class="prdList__item">
<div class="thumbnail">
*/
.ec-base-product{}
.ec-base-product .prdList{
  /* li를 display: inline-block; 생기는 여백을 없애기위해 */
  font-size: 0;
  line-height: 0;
}
.ec-base-product .prdList > li{
  border: 1px solid #000; /*테스트용*/
  /*li옆 다른 li 오게 하기위해*/
  display: inline-block;
  /* .ec-base-product .prdList 생기는 여백을 없애기위해 글자크기 글자높이 0 원상복구 */
  font-size:13px;
  line-height: 1;
}

/* 메인분류 상품목록 단 처리 */
.ec-base-product .prdList.grid2 li{width: 50%;}
.ec-base-product .prdList.grid3 li{width: 33.33%;}
.ec-base-product .prdList.grid4 li{width: 25%;}
.ec-base-product .prdList.grid5 li{width: 20%;}

.ec-base-product .prdList .prdList__item{
 margin:0 10px;
}

.ec-base-product .prdList .thumbnail{
  border: 1px solid #f00; /*테스트 삭제*/
  /* .ec-base-product .prdList .thumbnail .likeButton
   position: absolute;기준요소가 되기 위해서
  */
  position: relative;
}
.ec-base-product .prdList .thumbnail>a{
  display: block;
}
.ec-base-product .prdList .thumbnail>a>img{
/* 1. 원래 이미지 보다 커지지 않으면서 부모의 너비를 따라서 */
   /* max-width: 100%; */
/* 2. 무조건 부모의 너비를 따라라 */
   width: 100%;
   display: block; /*썸네일 밑에 여백을 제거*/
}
/*
.likeButton 기능 요구
1.기존의 likeButton에 지정된 이미지 표시x
2.그자리에 Like 텍스트 표시
->.likeButton:before
3.like 텍스트 좋아요 누적 수가 표시
->.likeButton strong{}
*/
.ec-base-product .prdList .thumbnail .likeButton::before{
 content: "Like";
 font-size: 12px;
 display: block;
 line-height: 1;
}
.ec-base-product .prdList .thumbnail .likeButton{
  border: 1px solid #00f; /*테삭*/
  position: absolute; /*기준요소 설정 필요*/
  left: 5%; top: 4%;
  width: 40px; height: 40px;
  /* like텍스트와 count 숫자 수평 수직 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ec-base-product .prdList .thumbnail .likeButton button{
  background-color: transparent; /*버튼의 기본색상을 제거*/
  border: none; /*button 요소가 가지고 있는 기본 테두리 제거*/
}
.ec-base-product .prdList .thumbnail .likeButton img{
  display: none; /*likeButton 기능 요구 1*/
}
.ec-base-product .prdList .thumbnail .likeButton strong{
  display: block;
  cursor: pointer;
  font-weight: normal; /*strong 요소 기본 bold 제거*/
}

/*  */
/* <div class="icon__box">
<span class="wish">
  <img src="/web/upload/icon_202201241816315200.png" >
  wish
</span>
<span class="cart">
  <img src="/web/upload/icon_202201241812549900.png" >
  cart
</span>
<span class="option">
  <a onclick="optionPreview(this,'listmain-1',23,'T')" "="">
  <img src="/web/upload/icon_202201241816160100.png" >
    option
  </a>
</span> */
.ec-base-product .prdList .icon__box {
  border: 1px solid #0f0;
  position: absolute; /*기준요소 확인 .ec-base-product .prdList .thumbnail*/
  left: 0;
  top: 50%;
  transform: translate(0, -50%); /*absolute 수직 가운데 넣는 방법*/
  display: flex;
  flex-direction: row; /*생략가능*/
  justify-content: center;
  width: 100%;
  opacity: 0;
}
/* .ec-base-product .prdList .icon__box:hover { */
.ec-base-product .prdList .prdList__item:hover .icon__box {
  opacity: 1;
}
.ec-base-product .prdList .icon__box >span {
  box-sizing: border-box;
  display: block;
  position: relative;
  /* .ec-base-product .prdList .icon__box >span img 기준요소 */
  border: 1px solid #999;
  border-radius: 10px;
  padding: 10px 15px;
  min-width: 74px;
  margin:0 4px;
  background-color: rgba(255,255,255,0.5);
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  cursor: pointer;
}
/* 기능요구
  mouseout(mouseleave) : 회색 검정글
  mouseover(mouseenter, hover) : 테두리 검정 검정배경, 흰글
*/
.ec-base-product .prdList .icon__box >span:hover {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

.ec-base-product .prdList .icon__box >span img {
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  opacity: 0;
}

/* 할인율 .sale_box */
.ec-base-product .prdList .sale__box{
  position: absolute; /*.ec-base-product .prdList .thumbnail 기준*/
  right: 5%; top: 4%;
  width: 50px; height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* description */
/* <div class="description">
<div class="name">
  <a href="">
    <span class="title">상품명</span>
     <span style="font-size:18px;color:#111111;">니트가디건</span></a>
</div>
<!-- //.name -->
<!-- ul.spec>li.xans-record-*3>{상품설명$} -->
<ul class="spec">
  <li class="xans-record-">상품설명1</li>
  <li class="xans-record-">상품설명2</li>
  <li class="xans-record-">상품설명3</li>
</ul>
<div class="icon">
  <img src="" alt="" class="icon">
</div> */
.ec-base-product .prdList .description{
   margin-top: 20px;
   font-size: 12px;
   line-height: 18px;

}

/* 상품명은 inline style을 무시하고 반드시 빨강 15p 관리자화면 설정 무시 */
/* .ec-base-product .prdList .description span{} */
/* + 인접형제 구분자

 .s1 + .s2 --> .s1 바로다음(인접한)형제.s2
 
 <span class="s2"></span>
 <span class="s1"></span>
 <span class="s2"></span> <-- 선택
 <span class="s2"></span>
*/
.ec-base-product .prdList .description .name a{
  text-decoration: none;
}
/* inline style을 무시할 때 */
.ec-base-product .prdList .description .name .title+span{
  color: #f00 !important;
  font-size: 15px !important;
}
.ec-base-product .prdList .description .spec{}
.ec-base-product .prdList .description .spec li{}
.ec-base-product .prdList .description .icon{}
.ec-base-product .prdList .description .icon img{}
