    /*여기서 부터 단 배너 css */
    /* 기존 스킨 배너 옆 양쪽 여백 없애기 */
    #container #contents > .section.mybanner-wrapper {
      max-width: none;
    }
    @media (min-width:1024px){
      #contents > .section.mybanner-wrapper {
        max-width: none;
        width: 100%;
      }
    }/*//@media*/

    .mybanner{
      --banner-gap:20px;
      --banner-m-h-gap:10px;/*모바일 수평 갭*/
      --banner-m-v-gap:10px;/*모바일 수직 갭*/
      --banner-top-margin:50px;
      --banner-bottom-margin:50px;
      --banner-top-padding:10px;
      --banner-bottom-padding:10px;
      --banner-max-width:1440px;
      --col1:100%;
      --col2:50%;
      --col3:33.333%;
      --col4:25%;
      --col5:20%;
    }

    .mybanner{
      margin-top: var(--banner-top-margin);
      margin-bottom: var(--banner-bottom-margin);
      background-color: #dd6;
    }
    .mybanner__inner{
      max-width: var(--banner-max-width);
      margin: 0 auto;
      padding-top:var(--banner-top-padding);
      padding-bottom:var(--banner-bottom-padding);
    }
    .mybanner__list{
      display: flex;
      gap: var(--banner-gap);
      box-sizing: border-box;
    }
    .mybanner__item{
      flex:1;
      box-sizing: border-box;
      background-color: #66f;
    }
    .mybanner__list.grid1  .mybanner__item{width: var(--col1);   }
    .mybanner__list.grid2  .mybanner__item{width: var(--col2);   }
    .mybanner__list.grid3  .mybanner__item{width: var(--col3);   }
    .mybanner__list.grid4  .mybanner__item{width: var(--col4);   }
    .mybanner__list.grid5  .mybanner__item{width: var(--col5);   }
    .mybanner__link{display: block;}
    .mybanner .thumb-box picture,
    .mybanner .thumb-box picture source,
    .mybanner .thumb-box picture img{ 
      display: block;
       width: 100%;
      }
    .mybanner .text-box .text-title{}
    .mybanner .text-box .text-desc{}
 
    @media (max-width:767px){
      .mybanner__list{
        gap: var(--banner-m-h-gap)  var(--banner-m-v-gap);
        flex-wrap: wrap;
      }
      .mybanner__item{
        flex:1 0 auto;
      }

      .mybanner .mybanner__item.m-col1{width: calc(var(--col1) - var(--banner-m-v-gap));}
      .mybanner .mybanner__item.m-col2{width: calc(var(--col2) - var(--banner-m-v-gap));}
      .mybanner .mybanner__item.m-col3{width:calc(var(--col3) - var(--banner-m-v-gap));}
      .mybanner .mybanner__item.m-col4{width:calc(var(--col4) - var(--banner-m-v-gap));}
  
    }
    /* 단배너 스타일끝 */
            /* footer bt-sns 시작 */
            #footer .inner .bt_sns .title{
              font-size: 16px;
              color: #000;
              margin-bottom: 10px;
              font-weight: 500;
            }
            #footer .inner .bt_top_right .bt_sns a {
              margin-top: 20px;
              width: 34px; height: 34px;
              overflow: hidden;
            }
            #footer .inner .bt_top_right .bt_sns a svg {height:34px;}
            #footer .inner .bt_top_right .bt_sns a svg path {fill:#ababab;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
            #footer .inner .bt_top_right .bt_sns a:hover svg path {fill:#111;}    
            /* footer bt-sns 끝 */

            /* 루미너스 footer 디자인 수정 */

            /* //루미너스 footer 디자인 수정  */
          #footer{
            background-color: #3a3a3a;
          }
          #footer .inner{
            color: #cfcfcf;
          }
          #footer .bt_info .title{
            display: none;
          }

          /* 글자색상변경 */
          #footer .inner .bt_logo a,
          #footer .inner .bt_util ul li a,
          #footer .inner .bt_util ul li a strong,
          #footer .inner .bt_info .bt_info_list,
          #footer .inner .bt_wrap2 .bt_copyright,
          #footer .inner .bt_wrap .bt_boardinfo li a,
          #footer .inner .bt_cscenter .bt_txt01,
          #footer .inner .bt_cscenter .bt_txt02{
           color:inherit;
          }
          /* [속성="값"] */
          /* flex item order를 이용한 순서 변경 */
          #footer .inner .bt_info .bt_info_list{
            max-width: 550px;
          }
          #footer .bt_info .bt_info_list [data-ez-item="company_name"]{order: 1;}
          #footer .bt_info .bt_info_list [data-ez-item="president_name"]{order: 2;}
          #footer .bt_info .bt_info_list [data-ez-item="address"]{order: 5;}
          #footer .bt_info .bt_info_list [data-ez-item="phone"]{order: 6;}
          #footer .bt_info .bt_info_list [data-ez-item="company_regno"]{order: 3;}
          #footer .bt_info .bt_info_list [data-ez-item="network_regno"]{order: 4;}
          #footer .bt_info .bt_info_list [data-ez-item="cpo_name"]{order: 7;}

          #footer .bt_info .bt_info_list [data-ez-item="company_name"] span:first-child{
            display: none;
          }
          #footer .bt_info .bt_info_list [data-ez-item="address"] span:first-child{
            display: none;
          }
          #footer .inner .bt_bank{
            display: none;
          }

          #footer .inner .bt_wrap .bt_boardinfo{
            margin-left: auto;
            width: 180px;
          }
          #footer .inner .bt_wrap .bt_boardinfo .title{
            font-size: 20px;
            font-weight: 700;
            line-height: 2;
            margin-bottom: 11px;
          }
          #footer .inner .bt_wrap .bt_boardinfo li a{
           display: block;
           font-size: 14px;
           letter-spacing: 0.5px;
           font-weight: 400;
           line-height: 2;
          }
          #footer .inner .bt_wrap .bt_cscenter{
            margin-left: 20px; /*cscenter와 boardinfo 사이에 여백*/
          }
          #footer .inner .bt_wrap .bt_cscenter,
          #footer .inner .bt_wrap2 .bt_sns{width: 200px;}
          #footer .bt_cscenter .title{
            display: none;
          }
          #footer .inner .bt_cscenter .bt_txt01{
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.5px;
          }

          #footer .inner .bt_cscenter .bt_txt02{
            font-size: 14px;
            letter-spacing: 0.5px;
            margin-bottom: 0;
          }

          /* 클래스명 bt_ 시작하는 요소 */
          #footer .bt_cscenter [class^="bt_"]>strong:first-child{
           display: none;
          }
          /* padding-right:10 해당하는 요소를 무력화 */
          #footer .inner .pdr10{
            display: none;
          }
          #footer .inner .bt_wrap2{
            border-top: 0 none;
          }
          #footer .inner .bt_wrap2 .bt_sns .title{display: none;}
          #footer .inner .bt_wrap2 .bt_sns a{padding:0}
          #footer .inner .bt-wrap2 .bt_sns a:nth-of-type(1){margin-left:0;}

          #footer .inner .bt_wrap{margin-bottom:20px;}
          #footer .inner .bt_wrap2{padding-top:0;}
